<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= current_page.data.fetch("title", "Industrially") %></title>
    <meta name="description" content="<%= current_page.data.fetch("description", "Toma el control del flujo de cotización en tu negocio") %>">
    <meta name="keywords" content="Industrially, cotizaciones, software para proveedores industriales, gestión de solicitudes, flujo de cotización, equipo industrial, portal de clientes, seguimiento de cotizaciones">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<%= current_page.data.fetch("title", "Industrially") %>" />
    <meta itemprop="description" content="<%= current_page.data.fetch("description", "Toma el control del flujo de cotización en tu negocio") %>" />
    <meta itemprop="image" content="<%= current_page.data.fetch("image", image_url("screenshot-solicitudes-de-cotizacion.png")) %>" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://industrially.net<%= current_page.url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= current_page.data.fetch("title", "Industrially") %>">
    <meta property="og:description" content="<%= current_page.data.fetch("description", "Toma el control del flujo de cotización en tu negocio") %>">
    <meta property="og:image" content="<%= current_page.data.fetch("image", image_url("screenshot-solicitudes-de-cotizacion.png")) %>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= current_page.data.fetch("title", "Industrially") %>">
    <meta name="twitter:description" content="<%= current_page.data.fetch("description", "Toma el control del flujo de cotización en tu negocio") %>">
    <meta property="og:image" content="<%= current_page.data.fetch("image", image_url("screenshot-solicitudes-de-cotizacion.png")) %>">


    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#000000',
              accent: '#333333',
              background: '#F5F5F5',
              text: '#1F2937',
            },
            fontFamily: {
              sans: ['Inter', 'sans-serif'],
            },
            typography: {
              DEFAULT: {
                css: {
                  maxWidth: 'none',
                  color: '#1F2937',
                  a: {
                    color: '#3B82F6',
                    '&:hover': {
                      color: '#1E3A8A',
                    },
                  },
                },
              },
            },
          },
        },
      }
    </script>
  </head>
  <body class="bg-white font-sans text-text">
    <header class="bg-white shadow-sm">
      <nav class="container mx-auto px-4 py-4 sm:py-6 flex justify-between items-center">
        <a href="/" class="text-xl sm:text-2xl font-bold text-primary">Industrially</a>
        <div class="flex items-center space-x-4 sm:space-x-6">
          <a href="/blog" class="text-base sm:text-lg text-gray-600 hover:text-primary transition duration-300">Blog</a>
        </div>
      </nav>
    </header> 
    <%= yield %>
  </body>
</html>
