---
title: Industrially | Plataforma para proveedores industriales
description: "Plataforma para proveedores industriales, administración de cotizaciones, solicitudes, catálog de productos, clientes, contactos, portal para clientes"
---

<script>
  function resetButtons(galleryId) {
    window[galleryId].querySelectorAll("button").forEach(button => button.classList.remove("border", "border-gray-500"));
  }

  function buttonWithId(galleryId, id) {
    return window[galleryId].querySelector("button[data-id='"+id+"']");
  }

  function setImage(galleryId, id) {
    const selectedButton = buttonWithId(galleryId, id)
    window[galleryId].querySelector("img").src = selectedButton.querySelector("img").src;
    resetButtons(galleryId);
    selectedButton.classList.add("border", "border-gray-500");
  }
</script>

<section class="bg-white py-12 sm:py-16 lg:py-20">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col items-center text-center">
      <span class="text-xs sm:text-sm md:text-base font-medium text-gray-600 bg-gray-100 px-4 py-2 rounded-full mb-8">
        Para proveedores industriales
      </span>
      <h1 class="text-2xl sm:text-4xl lg:text-6xl font-bold mb-6">
        Organiza el flujo de cotización de tu empresa
      </h1>
      <p class="text-base text-lg lg:text-2xl text-gray-600 max-w-2xl mb-6">
        Plataforma para ayudar a los proveedores industriales a administrar solicitudes de cotización, cotizar eficientemente y publicar un catálogo de productos.
      </p>
      <%= render "home/button" %>
      <%= render "home/gallery", gallery_id: "hero_gallery", image_urls: %w[home/hero1.png home/hero2.png home/hero3.png home/hero4.png home/home-demo.png] %>
    </div>
  </div>
</section>


<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <h3 class="text-xl lg:text-3xl font-bold text-center">¿Alguno de estos problemas?</h3>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Cartera muy demandante? ¿Solicitudes por todos lados?… es normal escuchar "¿Dónde esta mi cotización?"</h2>

    <p class="text-lg lg:text-xl">
    Reciben solicitudes por todos lados, por whatsapp, correo, llamada, en
    visitas… cada quien lleva su propia lista de solicitudes, no es fácil llevar
    control de lo que se ha hecho y lo que no. Muchas veces los clientes
    preguntan por su cotización, pero ustedes no recordaban que habían pedido
    algo.
    </p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Cotizar es lento y propenso a errores? ¿No tienen visibilidad de lo cotizado?</h2>

    <p class="text-lg lg:text-xl">Hacen sus cotizaciones en excel o en alguna hoja de
    cálculo en la que fácilmente se pueden modificar las fórmulas. No hay un
    lugar centralizado para poder ver todas las cotizaciones.</p>

    <p class="text-lg lg:text-xl">O tal vez sí tienen un sistema para cotizar, pero
    requiere tener todos los productos que ofrecen dados de alta y que los
    vendedores conozcan el código de cada producto. Es difícil navegar por las
    cotizaciones realizadas y ver lo que ha cotizado cada vendedor.</p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Sienten que mucho de lo que dejan de vender es por falta de seguimiento?</h2>

    <p class="text-lg lg:text-xl">Dan seguimiento solo a las cotizaciones "grandes" y sienten que pueden dejar ir nuevos clientes importantes por no dar buen servicio en las "pequeñas". No tienen un proceso para dar seguimiento, o lo tienen pero es "muy manual".</p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Tu sitio web y catálogo no es realmente lo que quisieran?</h2>

    <p class="text-lg lg:text-xl">Tu sitio es más un requisito que una herramienta, tal vez no recuerdan cuando fue la última vez que lo actualizaron. Actualizar cualquier cosa es una tarea de semanas, de hablar al proveedor, hacer juntas, correos, llamadas, frustraciones…</p>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <h3 class="text-xl lg:text-3xl font-bold text-center">¿Qué pasaría si...?</h3>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Qué pasaría si tuvieran todas las solicitudes en un mismo lugar?</h2>

    <p class="text-lg lg:text-xl">Imagina saber rápidamente el estatus de cada solicitud, saber qué se ha cotizado y qué está pendiente. Ver todas las cotizaciones relacionadas a cada solicitud.</p>

    <p class="text-lg lg:text-xl">Que tus clientes puedan acceder directamente a un portal sencillo que les permita solicitar cotizaciones y ver el estatus de cada solicitud. Que puedan ver lo que ellos solicitan, pero también lo que han solicitado otros contactos de su misma empresa. Todo el historial de la relación con tu empresa.</p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Que pasaría si pudieran cotizar en minutos?</h2>

    <p class="text-lg lg:text-xl">Imagina poder tener un estándar en todas las cotizaciones de tus vendedores, que tus vendedores tengan fácil acceso a todas las cotizaciones realizadas por todo el equipo y fácilmente usarlas como referencia para hacer nuevas cotizaciones. Sentir confianza de que las cotizaciones usan la fórmulas, las leyendas y comentarios correctos.</p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Que pasaría si pudieran dar seguimiento a todas las cotizaciones?</h2>

    <p class="text-lg lg:text-xl">Imagina siempre saber qué cotizaciones están activas, las que están por vencer, en qué estatus está cada cliente según cada cotización. Llevar este control general en todas las cotizaciones realizadas por tu empresa, pero también de forma granular por cliente o contacto.</p>
  </div>

  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">¿Qué pasaría si pudieras tener todos tus productos en tu sitio web?</h2>

    <p class="text-lg lg:text-xl">Poder crear páginas de tus productos, categorías y marcas, que ayuden a tu empresa a comunicar lo que ofrecen a sus clientes. Que cada página sirva como herramienta de promoción y para facilitar la solicitud de cotización.</p>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <h3 class="text-xl lg:text-3xl font-bold text-center">Transforma el flujo de cotización de tu empresa</h3>

  <div class="flex flex-col gap-2 lg:gap-4">
    <p class="text-lg lg:text-xl">Empieza el camino de transformación de tu empresa con <strong>Industrially.</strong></p>

    <ul class="list-disc list-inside text-lg lg:text-xl">
      <li>Centraliza las solicitudes de cotización</li>
      <li>Agiliza la generación de cotizaciones</li>
      <li>Da seguimiento efectivo a cada cotización</li>
      <li>Crea un catálogo de productos</li>
      <li>Da un portal a tus clientes</li>
    </ul>

    <p class="text-lg lg:text-xl">Con <strong>Industrially</strong> tendrás las herramientas necesarias para transformar tu flujo de cotización hoy.</p>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Centraliza las solicitudes de cotización</h2>

    <p class="text-lg lg:text-xl">Un solo lugar con todas las solicitudes de cotización de tu empresa, al que también tus clientes pueden acceder.</p>

    <%= render "home/gallery", gallery_id: "gallery2", image_urls: %w[home/hero1.png home/hero4.png] %>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Agiliza las generación de cotizaciones</h2>

    <p class="text-lg lg:text-xl">Genera cotizaciones en base a una utilidad deseada, con cálculos automáticos, capacidad de importar partidas de cotizaciones pasadas.</p>

    <%= render "home/gallery", gallery_id: "gallery3", image_urls: %w[home/hero3.png home/cotizar.png] %>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Da seguimiento efectivo a cada cotización</h2>

    <p class="text-lg lg:text-xl">Ten a la mano todas las cotizaciones de la empresa, filtra por estatus o por su contenido, ten a la mano las fechas de creación y vencimiento, filtra por cliente o contacto, deja notas sobre el proceso…</p>

    <%= render "home/gallery", gallery_id: "gallery4", image_urls: %w[home/hero2.png home/seguimiento-a-cotizaciones.png] %>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Crea un catálogo de productos</h2>

    <p class="text-lg lg:text-xl">Agrega páginas para tus productos, marcas y categorías. Agrega fotos, documentos y una descripción detallada de forma sencilla.</p>

    <%= render "home/gallery", gallery_id: "gallery5", image_urls: %w[home/home-demo.png home/pagina-marca-real.png home/pagina-producto-real.png] %>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Precios</h2>

    <p class="text-lg lg:text-xl font-semibold">Pruébalo gratis y sin compromiso hasta tus primeras 10 solicitudes de cotización.</p>

    <p class="text-lg lg:text-xl">Todas las funcionalidades están incluidas en todos los paquetes:</p>

    <ul class="list-disc list-inside text-lg lg:text-xl">
      <li>Solicitudes de cotización</li>
      <li>Cotizaciones</li>
      <li>Catálogo de productos</li>
      <li>Clientes y contactos</li>
      <li>Portal para clientes</li>
    </ul>

    <p class="text-lg lg:text-xl">El precio cambia por la cantidad de miembros en el equipo.</p>

    <div class="flex flex-col gap-2 lg:gap-4">
      <div class="border border-gray-300 rounded-lg p-4 flex flex-col gap-2">
        <p class="text-lg lg:text-xl text-gray-500">1 miembro en el equipo</p>
        <p class="text-lg lg:text-xl"><strong>$500 MXN/mes</strong></p>
      </div>
      <div class="border border-gray-300 rounded-lg p-4 flex flex-col gap-2">
        <p class="text-lg lg:text-xl text-gray-500">Hasta 10 miembros en el equipo</p>
        <p class="text-lg lg:text-xl"><strong>$2,000 MXN/mes</strong></p>
      </div>
      <div class="border border-gray-300 rounded-lg p-4 flex flex-col gap-2">
        <p class="text-lg lg:text-xl text-gray-500">Miembros ilimitados en el equipo</p>
        <p class="text-lg lg:text-xl"><strong>$8,000 MXN/mes</strong></p>
      </div>
    </div>

    <div class="flex justify-center">
      <%= render "home/button" %>
    </div>
  </div>
</div>
