---
title: Industrially | Plataforma para crear sitios web para proveedores industriales
description: "Plataforma para crear sitios web para proveedores industriales, crea un sitio web con catálogo de productos, flujo de cotización, y portal para clientes en minutos."
---

<script>
  function resetButtons(galleryId) {
    window[galleryId].querySelectorAll("button").forEach(button => button.classList.remove("border", "border-gray-500"));
  }

  function buttonWithId(galleryId, id) {
    return window[galleryId].querySelector("button[data-id='"+id+"']");
  }

  function setImage(galleryId, id) {
    const selectedButton = buttonWithId(galleryId, id)
    window[galleryId].querySelector("img").src = selectedButton.querySelector("img").src;
    resetButtons(galleryId);
    selectedButton.classList.add("border", "border-gray-500");
  }
</script>

<% btn_class = "inline-block bg-black text-white px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-800 transition duration-300" %>

<section class="bg-white py-12 sm:py-16 lg:py-20">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col items-center text-center">
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold mb-6">
        Plataforma para crear sitios web para proveedores industriales
      </h1>
      <p class="text-base text-lg lg:text-2xl text-gray-500 max-w-2xl mb-6">
        Crea un sitio web con catálogo de productos, flujo de cotización, y portal para clientes <strong>en minutos</strong>.
      </p>
      <div class="flex flex-col sm:flex-row justify-center gap-4">
        <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
        <%= link_to("Visitar sitio demo", "https://demo.industrially.net", target: "_blank", class: btn_class) %>
      </div>
      <%= render "home/gallery", gallery_id: "hero_gallery", image_urls: %w[home/home-demo.png home/hero1.png home/hero2.png home/hero3.png home/hero4.png] %>
    </div>
  </div>
</section>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Crea un catálogo de productos</h2>

    <p class="text-lg lg:text-xl">Agrega páginas para tus productos, marcas y categorías. Agrega fotos, documentos y una descripción detallada de forma sencilla.</p>

    <%= render "home/gallery", gallery_id: "gallery5", image_urls: %w[home/home-demo.png home/pagina-marca-real.png home/pagina-producto-real.png] %>

    <div class="flex justify-center">
      <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Centraliza las solicitudes de cotización</h2>

    <p class="text-lg lg:text-xl">Un solo lugar con todas las solicitudes de cotización de tu empresa, al que también tus clientes pueden acceder.</p>

    <%= render "home/gallery", gallery_id: "gallery2", image_urls: %w[home/hero1.png home/hero4.png] %>

    <div class="flex justify-center">
      <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Agiliza las generación de cotizaciones</h2>

    <p class="text-lg lg:text-xl">Genera cotizaciones en base a una utilidad deseada, con cálculos automáticos, capacidad de importar partidas de cotizaciones pasadas.</p>

    <%= render "home/gallery", gallery_id: "gallery3", image_urls: %w[home/hero3.png home/cotizar.png] %>

    <div class="flex justify-center">
      <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Da seguimiento efectivo a cada cotización</h2>

    <p class="text-lg lg:text-xl">Ten a la mano todas las cotizaciones de la empresa, filtra por estatus o por su contenido, ten a la mano las fechas de creación y vencimiento, filtra por cliente o contacto, deja notas sobre el proceso…</p>

    <%= render "home/gallery", gallery_id: "gallery4", image_urls: %w[home/hero2.png home/seguimiento-a-cotizaciones.png] %>

    <div class="flex justify-center">
      <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4 lg:p-8">
  <div class="flex flex-col gap-2 lg:gap-4">
    <h2 class="text-lg lg:text-2xl font-bold">Precio</h2>

    <p class="text-lg lg:text-xl font-bold">Pruebalo gratis por 14 días, no necesitas tarjeta de crédito.</p>

    <p class="text-lg lg:text-xl">Todas las funcionalidades están incluidas:</p>

    <ul class="list-disc list-inside text-lg lg:text-xl">
      <li>Catálogo de productos</li>
      <li>Portal para clientes</li>
      <li>Solicitudes de cotización</li>
      <li>Cotizaciones</li>
      <li>Administración de clientes y contactos</li>
    </ul>

    <p class="text-lg lg:text-xl">Por solo:</p>
    <p class="text-lg lg:text-2xl"><strong>$2,000 MXN/mes</strong></p>

    <div class="flex justify-center">
      <%= link_to("Crear sitio web", "https://app.industrially.net/accounts/new", class: btn_class) %>
    </div>
  </div>
</div>
