---
title: Industrially | Catálogo de productos con flujo de cotización para proveedores industriales
description: "Plataforma para crear sitios web para proveedores industriales, crea un sitio web con catálogo de productos, flujo de cotización, y portal para clientes en minutos."
---

<script>
  function resetButtons(galleryId) {
    window[galleryId].querySelectorAll("button").forEach(button => button.classList.remove("border", "border-gray-500"));
  }

  function buttonWithId(galleryId, id) {
    return window[galleryId].querySelector("button[data-id='"+id+"']");
  }

  function setImage(galleryId, id) {
    const selectedButton = buttonWithId(galleryId, id)
    window[galleryId].querySelector("img").src = selectedButton.querySelector("img").src;
    resetButtons(galleryId);
    selectedButton.classList.add("border", "border-gray-500");
  }
</script>

<% primary_btn_class =
  "inline-block bg-black text-white px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-800 transition duration-300" %>
<% btn_class =
  "inline-block bg-gray-100 text-gray-800 px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-200 transition duration-300" %>
<% img_link = ->(path) do
  link_to("https://app.industrially.net/accounts/new") do
    tag.img(
      src: path,
      class:
        "w-full h-auto rounded-xl border border-gray-300 p-1 shadow-lg bg-white",
    )
  end
end %>
<% buttons =
  tag.div class: "flex flex-col lg:flex-row gap-4 mx-auto" do
    tag.div do
      link_to(
        "Pruébalo gratis",
        "https://app.industrially.net/accounts/new",
        target: "_blank",
        class: primary_btn_class
      )
    end +
      tag.div do
        link_to(
          "Visitar sitio demo",
          "https://demo.industrially.net",
          target: "_blank",
          class: btn_class,
        )
      end
  end %>

<section class="bg-white py-8 lg:py-12">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col gap-3 lg:gap-4 text-center">
      <div class="text-base lg:text-lg">
        <span class="bg-gray-100 text-gray-800 px-4 py-2 rounded-full">Para proveedores industriales</span>
      </div>
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold max-w-2xl mx-auto">
        Catálogo de productos con flujo de cotización
      </h1>
      <p class="text-base text-lg lg:text-2xl text-gray-500">
        Ayudamos a proveedores industriales a crear su sitio web con un catálogo de productos, flujo de solicitud de
        cotización, sistema para generar cotizaciones y un portal para clientes.
      </p>
      <div style="position: relative; padding-bottom: 62.42774566473989%; height: 0;">
        <iframe src="https://www.loom.com/embed/8e5fedc542244d5eae4a3d86afb0dc44?sid=defef840-f283-4d75-9bd8-b08541334813"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen 
                allowfullscreen 
                class="rounded-xl"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
      <%= buttons %>
    </div>
  </div>
</section>

<section class="bg-white py-8 lg:py-12">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col gap-5 lg:gap-8">
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold max-w-2xl mx-auto text-center">
        ¿Cómo funciona?
      </h1>
      <div class="p-4 sm:p-6 border border-gray-200 bg-white rounded-xl shadow-lg flex flex-col gap-2 hover:border-gray-300 transition-colors duration-300">
        <div class="prose prose-sm sm:prose lg:prose-lg">
          <h3 class="mb-2">1. Descubre como podría verse tu nuevo sitio</h3>
          <p class="text-gray-500">
          Explora el
          <%= link_to("el sitio demo", "https://demo.industrially.net", target: "_blank") %>,
          o el de algunos proveedores que ya están usando industrially, como
          <%= link_to("Jazz Controls", "https://jazzcontrols.com", target: "_blank") %> o
          <%= link_to("GMX Metal Solutions", "https://www.gmxmetalsolutions.com.mx/", target: "_blank") %>.
          </p>
        </div>
      </div>
      <div class="p-4 sm:p-6 border border-gray-200 bg-white rounded-xl shadow-lg flex flex-col gap-2 hover:border-gray-300 transition-colors duration-300">
        <div class="prose prose-sm sm:prose lg:prose-lg">
          <h3 class="mb-2">2. Prueba la plataforma gratis</h3>
          <p class="text-gray-500">
          <%= link_to "¡Empieza a crear tu nuevo sitio web ya!", "https://app.industrially.net/accounts/new", target: "_blank" %>,
          En minutos podras tener un sitio web con tus marcas, categorías y tal vez algunos productos.
          </p>
        </div>
      </div>
      <div class="p-4 sm:p-6 border border-gray-200 bg-white rounded-xl shadow-lg flex flex-col gap-2 hover:border-gray-300 transition-colors duration-300">
        <div class="prose prose-sm sm:prose lg:prose-lg">
          <h3 class="mb-2">3. Tour por la plataforma</h3>
          <p class="text-gray-500">
          Nosotros te contactaremos para platicar y darte un tour por la plataforma. Enseñarte las herramientas para importar productos, solicitar cotización, para cotizar, etc. Y tal vez darte algunos tips.
          </p>
        </div>
      </div>
      <div class="p-4 sm:p-6 border border-gray-200 bg-white rounded-xl shadow-lg flex flex-col gap-2 hover:border-gray-300 transition-colors duration-300">
        <div class="prose prose-sm sm:prose lg:prose-lg">
          <h3 class="mb-2">4. Afina detalles con nosotros</h3>
          <p class="text-gray-500">
          Nosotros te contactaremos para ver como podemos ayudarte ajustar los detalles de tu sitio, apoyarte a usar tu propio dominio (Por ejemplo: "www.tusitioweb.com") o para ayudarte a importar tus productos.
          </p>
        </div>
      </div>
      <div class="mx-auto text-center">
        <%= buttons %>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-8 lg:py-12">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col gap-3 lg:gap-4">
      <h1 class="text-2xl sm:text-4xl lg:text-4xl font-bold max-w-2xl mx-auto text-center">
        ¿Quieres hablar con una persona?
      </h1>
      <p class="sm:text-xl text-gray-500 text-center">Escribenos a ayuda@industrially.net</p>
    </div>
  </div>
</section>

