---
title: Industrially | Plataforma para crear sitios web para proveedores industriales
description: "Plataforma para crear sitios web para proveedores industriales, crea un sitio web con catálogo de productos, flujo de cotización, y portal para clientes en minutos."
---

<script>
  function resetButtons(galleryId) {
    window[galleryId].querySelectorAll("button").forEach(button => button.classList.remove("border", "border-gray-500"));
  }

  function buttonWithId(galleryId, id) {
    return window[galleryId].querySelector("button[data-id='"+id+"']");
  }

  function setImage(galleryId, id) {
    const selectedButton = buttonWithId(galleryId, id)
    window[galleryId].querySelector("img").src = selectedButton.querySelector("img").src;
    resetButtons(galleryId);
    selectedButton.classList.add("border", "border-gray-500");
  }
</script>

<% primary_btn_class =
  "inline-block bg-black text-white px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-800 transition duration-300" %>
<% btn_class =
  "inline-block bg-gray-100 text-gray-800 px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-200 transition duration-300" %>
<% img_link = ->(path) do
  link_to("https://app.industrially.net/accounts/new") do
    tag.img(
      src: path,
      class:
        "w-full h-auto rounded-xl border border-gray-300 p-1 shadow-lg bg-white",
    )
  end
end %>
<% buttons =
  tag.div class: "flex flex-col sm:flex-row gap-4 mx-auto" do
    tag.div do
      link_to(
        "Empezar a crear sitio web",
        "https://app.industrially.net/accounts/new",
        class: primary_btn_class,
      )
    end +
      tag.div do
        link_to(
          "Visitar sitio demo",
          "https://demo.industrially.net",
          target: "_blank",
          class: btn_class,
        )
      end
  end %>

<section class="bg-white py-8 lg:py-12">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col gap-3 lg:gap-4 text-center">
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold">
        Plataforma para crear sitios web para proveedores industriales
      </h1>
      <p class="text-base text-lg lg:text-2xl text-gray-500">
        Crea un sitio web con un catálogo de productos, flujo de solicitud de
        cotización, sistema para generar cotizaciones y un portal para clientes
        en minutos.
      </p>
      <%= buttons %>
    </div>
  </div>
</section>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div class="flex flex-col gap-6 lg:gap-8 text-center">
    <h2 class="text-xl lg:text-4xl font-bold">Crea un sitio web con tus productos, categorías y marcas</h2>
    <%= img_link.call "home/home-demo.png" %>
    <%= img_link.call "home/pagina-marca-real.png" %>
    <%= img_link.call "home/pagina-producto-real.png" %>
    <%= buttons %>
  </div>
</div>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div class="flex flex-col gap-6 lg:gap-8 text-center">
    <h2 class="text-xl lg:text-4xl font-bold">Flujo de solicitud de cotización integrado</h2>

    <p class="lg:text-xl">
      Tus clientes podrán solicitar cotizaciones desde las páginas de tus
      productos, marcas y categorías. Aparte de eso, tendrán un portal para
      acceder a ellas.
    </p>

    <%= img_link.call "home/producto-demo-pm-100.png" %>
    <%= img_link.call "home/forma-solicitud-de-cotizacion.png" %>
    <%= img_link.call "home/solicitud-cotizacion-cliente.png" %>
    <%= img_link.call "home/cotizacion-cliente.png" %>
    <%= buttons %>
  </div>
</div>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div class="flex flex-col gap-6 lg:gap-8 text-center">
    <h2 class="text-xl lg:text-4xl font-bold">Genera cotizaciones eficientemente</h2>

    <p class="lg:text-xl">
      Herramientas para crear cotizaciones, importar partidas, subir
      cotizaciones en PDF, acceso para clientes.
    </p>

    <%= img_link.call "home/cotizar.png" %>
    <%= buttons %>
  </div>
</div>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div class="flex flex-col gap-6 lg:gap-8 text-center">
    <h2 class="text-xl lg:text-4xl font-bold">Da seguimiento a cotizaciónes</h2>

    <p class="lg:text-xl">Ten a la mano todas las cotizaciones de la empresa, fitlros, estatus de
      vigencia, notas de seguimiento.</p>

    <%= img_link.call("home/hero2.png") %>
    <%= img_link.call("home/seguimiento-a-cotizaciones.png") %>
    <%= buttons %>
  </div>
</div>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div class="flex flex-col gap-6 lg:gap-8 text-center">
    <h2 class="text-xl lg:text-4xl font-bold">Precio</h2>

    <p class="text-lg lg:text-2xl">
      Gratis hasta tus primeras 10 solicitudes de cotización, después
      <br>
      <strong>$2,000 MXN/mes</strong>
    </p>

    <%= buttons %>
  </div>
</div>
