---
title: Industrially | Sitios web para distribuidores industriales
---

<h1>Industrially</h1>

<h2 class="subheader">
  Crea el nuevo sitio web de tu empresa instantaneamente
</h2>

<p>Hay muchas herramientas para hacer páginas o tiendas en línea para vender
ropa o juguetes, pero... <strong>¿por qué no hay nada para ofrecer productos
industriales?</strong></p>

<p>¡Ya no más! Industrially es una herramienta simple que
te permitirá crear un sitio web con páginas de productos con imágenes,
descripciones detalladas y documentos.</p>

<h2>Agrega tus productos</h2>
<p>Incluye descripciones, imágenes y documentos técnicos de tus productos industriales.</p>
<%= image_tag "edit-product-1.png", alt: "Edición de un producto, parte 1" %>
<%= image_tag "edit-product-2.png", alt: "Edición de un producto, parte 2" %>

<h2>Agrega tus sucursales</h2>
<p>Incluye información de contacto y ubicación de tus sucursales.</p>
<%= image_tag "branch-edition.png", alt: "Edición de información de sucursal" %>

<h2>Publica tu sitio</h2>
<p>Con un solo clic, tu sitio web industrial estará en línea y listo para recibir clientes.</p>
<%= image_tag "products-page.png", alt: "Página de productos" %>
<%= image_tag "contact-section.png", alt: "Section de contacto con sucursales" %>
<%= image_tag "product-page-1.png", alt: "Pagina de producto, parte 1" %>
<%= image_tag "product-page-2.png", alt: "Página de producto, parte 2" %>
<%= image_tag "product-page-3.png", alt: "Página de producto parte 3" %>

<h2>Registrate para recibir actualizaciones</h2>
<p>Si vendes productos industriales y te interesa probar una herramienta diseñada para tu empresa. Registrate para recibir actualizaciones y apoyo personalizado en el setup de tu sitio.</p>
<script async data-uid="5946107901" src="https://bhserna.ck.page/5946107901/index.js"></script>

